  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        {% if network.title == "substack" %}
                            <li><a target="_blank" href="{{ network.url }}"><i class="bi bi-{{ network.title }}"></i></a>
                        {% else %}
                            <li><a target="_blank" href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
