<!-- Next Trip(s) Modals -->
{% for trip in site.next_trips %}
<div class="portfolio-modal modal fade" id="nextTripModal{{ trip.modal-id }}" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ trip.title }}</h2>
                        <hr class="star-primary">
                        <figure>
                            <img src="img/trips/{{ trip.img }}" class="img-responsive img-centered"
                                alt="{{ trip.alt }}">
                            {% if trip.img-copyright %}
                            <figcaption class="img-copyright">{{ trip.img-copyright }}</figcaption>
                            {% endif %}
                        </figure>
                        <ul class="list-inline item-details">
                            <li><strong>Duration:</strong>
                                {{ trip.duration }}
                            </li>
                            <li><strong>Date:</strong>
                                {{ trip.trip-date }}
                            </li>
                            <li><strong>Group size:</strong>
                                {{ trip.group-size }}
                            </li>
                        </ul>
                        <div class="text-left">
                            {{ trip.description }}
                        </div>
                        <br />
                        <div class="content text-left">
                            {{ trip.content }}
                        </div>
                        <br />
                        {% if trip.sign-up %}
                        {% if trip.sign-up != 'past' %}
                        <div class="content text-center">
                            Save your spot with a deposit by <span class="fw-bold">{{ trip.sign-up }}</span>!
                        </div>
                        <br />
                        {% endif %}
                        <!-- <a target="_blank" href="{{ trip.sign-up }}" class="btn btn-primary">Reserve your spot!</a> -->
                        <a target="_blank" href="https://linktr.ee/italyshiddengems" class="btn btn-primary">Reserve
                            your spot</a>
                        <br /><br />
                        {% else %}
                        <div class="content text-left">
                            <h5>Join our mailing list to be alerted when sign-ups open for this trip:</h5>
                            {% include subscribe.html %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}