<!-- Next Trip(s) Modals -->
{% for trip in site.next_trips %}
<div class="portfolio-modal modal fade" id="nextTripModal{{ trip.modal-id }}" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ trip.title }}</h2>
                        <hr class="star-primary">
                        <figure>
                            <img src="img/portfolio/{{ trip.img }}" class="img-responsive img-centered"
                                alt="{{ trip.alt }}">
                            {% if trip.img-copyright %}
                            <figcaption class="img-copyright"><a href="https://commons.wikimedia.org/wiki/File:Larotonda2009.JPG">© La Rotonda</a> by Marco Bagarella, licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a></figcaption>
                            {% endif %}
                        </figure>
                        <ul class="list-inline item-details">
                            <li><strong>Duration:</strong>
                                {{ trip.duration }}
                            </li>
                            <li><strong>Date:</strong>
                                {{ trip.trip-date }}
                            </li>
                            <li><strong>Group size:</strong>
                                {{ trip.group-size }}
                            </li>
                        </ul>
                        <div class="text-left">
                        <p>{{ trip.description }}</p>
                        </div>
                        <div class="content text-left">
                            {{ trip.content }}
                        </div>
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close</button> -->
                        <br />
                        <a target="_blank" href="{{ trip.sign-up }}" class="btn btn-primary">Reserve your spot!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}