<!-- Next up Section -->
<section class="hero" id="next-trips">
    <div class="container section">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our upcoming trips</h2>
                <h3 class="section-subheading text-muted">Come join us on one of our exciting trips in the 2026 season!</h3>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12 text-left">
                Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien
                vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed
                diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl
                malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora
                torquent per conubia nostra inceptos himenaeos.
            </div>
        </div> -->
    <!-- </div> -->
    <!-- <div class="container next-trips"> -->
        <div class="row">
        {% assign num_trips = site.next_trips.size %}
        {% for trip in site.next_trips %}
        <div class="col-md-{{ 12 | divided_by: num_trips }} col-sm-{{ 12 | divided_by: num_trips }} portfolio-item">
            <a href="#nextTripModal{{ trip.modal-id }}" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="img/portfolio/{{ trip.thumbnail }}" class="img-responsive img-centered" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>{{ trip.title }}</h4>
                <p class="text-muted">{{ trip.trip-date }}</p>
                <br />
                {% if trip.modal-id == 2 %}
                <!-- extra line of padding for umbria -->
                <br/>
                {% endif %}
                <div class="text-center">
                    <a href="#nextTripModal{{ trip.modal-id }}" class="btn btn-primary" data-toggle="modal">View tour</a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        <!-- <div class="row inset-box">
            <div class="inset-image">
                <img class="img-responsive img-centered" src="img/sicilia.jpg" alt="">
            </div>
            <div class="inset-panel">
                <h4 class="text-center">Sicily: Crossroads of the Mediterranean</h4>
                <p class="text-muted text-center">May 2026</p>
                <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna
                    aliqua. Ultrices tincidunt sodales neque sodales ut etiam. Leo urna molestie a elementum eu.
                    Hendrerit
                    dolor magna eget est lorem ipsum.</p>
                <hr>
                <ul>
                    <li>incidunt arcu non sodales</li>
                    <li>Leo urna molestie</li>
                    <li>Hendrerit dolor magna</li>
                </ul>
                <br>
                <div class="text-center">
                    <a href="https://buy.stripe.com/4gw01bacf0M03F614m" class="btn btn-primary">Join us!</a>
                </div>
            </div>
        </div> -->
    </div>
</section>
<!-- <section id="next-trip">
    <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
</section> -->