<section class="hero" id="testimonials-hero">
    <div class="container section">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="intro-text">Hear what our guests have to say</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien
            vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed
            diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl
            malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora
            torquent per conubia nostra inceptos himenaeos.
        </div>
        </div>
    </div>
</section>
<section id="testimonials">
    <div class="container section">
        <div class="row text-center">
            <!-- <p style="font-size: xxx-large; color: red;">TODO</p> -->
            <!-- <div class='col-md-offset-2 col-md-8'> -->
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#quote-carousel" data-slide-to="1"></li>
                <li data-target="#quote-carousel" data-slide-to="2"></li>
                </ol>
                
                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">
                
                <!-- Quote 1 -->
                <div class="item active">
                    <blockquote>
                    <div class="row">
                        <!-- <div class="col-sm-3 text-center">
                        <img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 100px;height:100px;"> -->
                        <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
                        <!-- </div> -->
                        <div class="col-sm-12">
                        <p>Delizioso! IHG trips are full of experiences that bring you close to the people of the region who are proud to share their traditions. It’s a great way to travel, learn, and get acquainted with Italy and its people. I highly recommend it.</p>
                        <small>Carol F</small>
                        </div>
                    </div>
                    </blockquote>
                </div>
                <!-- Quote 2 -->
                <div class="item">
                    <blockquote>
                    <div class="row">
                        <!-- <div class="col-sm-3 text-center">
                        <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" style="width: 100px;height:100px;">
                        </div> -->
                        <div class="col-sm-12">
                        <p>A wonderful vacation [...] excellent planning, no rush, no need of constant packing to move on to the next destination, so typical of many tours, excellent food, great wine, very friendly and helpful guides and drivers. I highly recommend Laura's tours.</p>
                        <small>Robert & Gertrude</small>
                        </div>
                    </div>
                    </blockquote>
                </div>
                <!-- Quote 3 -->
                <div class="item">
                    <blockquote>
                    <div class="row">
                        <!-- <div class="col-sm-3 text-center">
                        <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" style="width: 100px;height:100px;">
                        </div> -->
                        <div class="col-sm-12">
                        <p>This was one of the best vacations I’ve ever had! Laura was so kind and accommodating, going way beyond her tour guide "duties"! Our tour of Sardinia was amazing! The hotels and restaurants that Laura took us too were all fantastic and I was constantly in awe. I can’t recommend her tours enough and can’t wait for my next adventures through Italy with her! Highly recommended!!!</p>
                        <small>Veronica B</small>
                        </div>
                    </div>
                    </blockquote>
                </div>
                </div>
                
                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            <!-- </div>                           -->
        </div>
    </div>
</section>