<section class="hero" id="testimonials-hero">
    <div class="container section">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Hear what our guests have to say</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
                Our small tour sizes allow a level of attention to our guests’ needs and desires that is just not possible with a larger group. Our groups are limited to 14 travelers so we can listen to every one of our guests before and during each trip, creating the best possible experience. This allows us to find unexpected little gems, organize customized events based on your interests and passions, and choose boutique hotels and delicious gourmet restaurants that don’t accept larger groups.
                <br/><br/>
                That is really where our passion lies: surprising and delighting our guests with events and experiences carefully created just for them, and to help them discover the true heart of Italy.
            </div>
        </div>
    </div>
<!-- </section>
<section id="testimonials"> -->
    <div class="container-fluid section" id="testimonials">
        <div class="row text-center">
            <!-- <p style="font-size: xxx-large; color: red;">TODO</p> -->
            <!-- <div class='col-md-offset-2 col-md-8'> -->
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#quote-carousel" data-slide-to="1"></li>
                <li data-target="#quote-carousel" data-slide-to="2"></li>
                </ol>
                
                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">
                
                <!-- Quote 1 -->
                <div class="item active">
                    <blockquote>
                    <div class="row">
                        <!-- <div class="col-sm-3 text-center">
                        <img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 100px;height:100px;"> -->
                        <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
                        <!-- </div> -->
                        <div class="col-sm-12">
                        <p>Delizioso! IHG trips are full of experiences that bring you close to the people of the region who are proud to share their traditions. It’s a great way to travel, learn, and get acquainted with Italy and its people. I highly recommend it.</p>
                        <small>Carol F</small>
                        </div>
                    </div>
                    </blockquote>
                </div>
                <!-- Quote 2 -->
                <div class="item">
                    <blockquote>
                    <div class="row">
                        <!-- <div class="col-sm-3 text-center">
                        <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" style="width: 100px;height:100px;">
                        </div> -->
                        <div class="col-sm-12">
                        <p>A wonderful vacation [...] excellent planning, no rush, no need of constant packing to move on to the next destination, so typical of many tours, excellent food, great wine, very friendly and helpful guides and drivers. I highly recommend Laura's tours.</p>
                        <small>Robert & Gertrude</small>
                        </div>
                    </div>
                    </blockquote>
                </div>
                <!-- Quote 3 -->
                <div class="item">
                    <blockquote>
                    <div class="row">
                        <!-- <div class="col-sm-3 text-center">
                        <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" style="width: 100px;height:100px;">
                        </div> -->
                        <div class="col-sm-12">
                        <p>One of the best vacations I’ve ever had! Laura was so kind and accommodating, going way beyond her tour guide "duties" [...] I was constantly in awe. I can’t recommend her tours enough and can’t wait for my next adventures through Italy with her! Highly recommended!!!</p>
                        <small>Veronica B</small>
                        </div>
                    </div>
                    </blockquote>
                </div>
                </div>
                
                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            <!-- </div>                           -->
        </div>
    </div>
</section>