.navbar-brand {
    padding-top: 0px;
}

.logo {
    height: 3em;
}

.row.two-column {
    column-count: 2;
    column-gap: 20px;
}

.image {
    align-items: center;
    padding: 20px 0px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.quote {
    font-style: italic;
    align-items: center;
}

section.hero {
    width: 100%;
    text-align: center;
    color: #fff;
    /* new new uncomment */
    /* background-color: #{{ site.data.template.color.secondary }}50; */
    /* old */
    /* background-image: url('{{ site.baseurl }}/img/sardegna.jpg'); */
    /* background-blend-mode: multiply; */
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* new */
    position: relative;
}
section.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* new */
    /* background-color: #{{ site.data.template.color.secondary }}50; */
    width: 100%;
    height: 100%;
    z-index: -1;
}
section#next-trips::before {
    /* background-image: url('{{ site.baseurl }}/img/sardegna.jpg'); */
    background-image: url('{{ site.baseurl }}/img/next-trips-bg-50.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* or 0.5 */
    opacity: 1;
    /* new new */
    /* or primary? */
    background-color: #{{ site.data.template.color.secondary }};
    /* multiply, overlay, screen */
    background-blend-mode: overlay;
}
section#testimonials-hero::before {
    background-image: url('{{ site.baseurl }}/img/testimonials-bg-50.jpg');
    /* background-image: url('{{ site.baseurl }}/img/testimonials-bg-30.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    background-position: bottom;
    /* opacity: 1; */
    opacity: .8;
    background-color: #{{ site.data.template.color.secondary }};
    background-blend-mode: overlay;
    /* background-blend-mode: screen; */
}

section.hero .section-subheading {
    color: white;
}

section.hero .section-heading {
    padding-top: 50px;
    /* padding-bottom: 50px; */
    color: white;
}

section.hero .section-heading .intro-lead-in {
    margin-bottom: 25px;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 22px;
    /* font-style: italic; */
    line-height: 22px;
}

.text-left {
    text-align: left;
}

.inset-box {
    /* position: relative; */
    /* left: 50%; */
    margin: 70px 20px;
    padding: 10px;
    background-color: #{{ site.data.template.color.light }};
    color: black;
    /* new */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.inset-box .inset-panel {
    width: 50%;
    text-align: left;
    padding: 10px;
}
.inset-box .inset-image {
    width: 50%;
    padding: 10px;
}

.btn-primary {
    padding: 10px 10px;
}

#testimonials {
    padding: 0px 0px;
    padding-bottom: 50px;
}
#testimonials {
    background: white;
    color: black;
    /* width: 100%; */
    margin: 50px auto;
}

/***** quote carousel *****/
/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  /* color: #222; */
  color: #{{ site.data.template.color.primary }};
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  /* background: #c0c0c0; */

}
#quote-carousel .carousel-indicators .active 
{
  /* background: #333333; */
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote, #philosophy blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before,
#philosophy blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
    color: #{{ site.data.template.color.primary }};
}

#philosophy blockquote p:before {
    font-size: 20px;
}
#philosophy blockquote {
    margin-top: 2em;
}
@media(min-width:768px) {
    #philosophy blockquote {
        padding: 0 60px;
    }
}




/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

.signature {
    max-width: 250px;
}

.accent {
    color: #{{ site.data.template.color.accent }};
    /* background: rgba({{ site.data.template.color.light | hex_to_rgb | join: ',' }}, .3); */
    /* font-style: italic; */
    /* padding: 0 .5em; */
}

.modal-body .content p {
    margin-bottom: 0px;
}
.modal-body .content li {
    list-style: none;
}
.modal-body .content li::before {
    content: '';
    display: inline-block;
    margin-right: 10px;

    height: 10px;
    width: 10px;
    background-image: url('{{ site.baseurl }}/img/heart.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
}
.carousel-indicators li {
    background-image: url('{{ site.baseurl }}/img/heart.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    /* background-color: #{{ site.data.template.color.light }};
    background-blend-mode: overlay; */
    border: initial;
    border-radius: initial;
}
.carousel-indicators .active {
    background-image: url('{{ site.baseurl }}/img/heart.png');
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

/* Small devices (tablets, up to 768px) */
@media(min-width:768px) {
    .container.next-trips {
        width: 50%;
    }
    .navbar-brand {
        margin-top: -4px;
    }
    .section {
        width: 50%;
    }
}
.container.next-trips, .newsletter {
    padding-top: 35px;
}

/* figure copyright caption */
figure {
    margin-bottom: 30px;
}
figure img {
    margin-bottom: 0px !important;
}

#contact .btn {
    background-color: #{{ site.data.template.color.secondary }};
    border-color: #{{ site.data.template.color.secondary }};
}

.bio-name {
    color: #{{ site.data.template.color.primary }};
    font-size: 19px;
    font-weight: 700;
}
.bio {
    margin: 25px auto;
}
#philosophy .img-responsive, 
#about .img-responsive {
    padding: 10px 0;
}

/* viewport full width partial fix borrowing from bootstrap 4.0 */
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
